#container {
  width: 300px;
  padding: 0.15rem 0.25rem 0.15rem 0.25rem;
  display: flex;
  flex-direction: column;
}

#memo {
  box-sizing: border-box;
  border: 0.75px solid #292a2d;
  border-radius: 0.25rem;
  height: 100px;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.35rem;
  background-color: #171b21;
  color: #cad1d8;
}

#memo:focus {
  border-color: #7076ef;
  outline: none;
}

#box {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#submit {
  background-color: #7076ef;
  border: none;
  border-radius: 0.25rem;
  color: #cad1d8;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  padding: 0.4rem;
}

#submit:hover {
  background-color: #5e63d2;
}

.msg {
  color: #cad1d8;
  display: none;
  margin-right: 0.1rem;
}

#msg-success {
  background-color: #2a9d8f;
  border-radius: 0.1rem;
  padding: 0.25rem;
}

#msg-error,
#msg-no-url {
  background-color: #e76f51;
  border-radius: 0.1rem;
  padding: 0.25rem;
}

body {
  background-color: #0e1116;
}
